In [1]:
# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
# MongoDB over SQL databases?

In [2]:
# MongoDB is a non-relational document oriented data base(non-SQL).
# Data in MongoDB is stored in documents with key-value pairs instead of rows and columns as in case of SQL db.
# MongoDB is preferred when the data is unstructured i.e. either in the form of images, videos, text type of data etc.
# Since it stores data in key-value pairs, it is easily scalable and faster.

In [3]:
# Q2. State and Explain the features of MongoDB.

In [5]:
# MongoDB is a non-relational document oriented data base(non-SQL).
# Data in MongoDB is stored in documents with key-value pairs instead of rows and columns as in case of SQL db.
# MongoDB stores unstructured data i.e. either in the form of images, videos, text type of data etc.
# High performance - It is easily scalable and it is faster.
# MongoDB is a scheme-less database - 
# which contains collections and we are allowed to create multiple databases and multiple collections.
# each collection can have multiple documents contatining data and these documents can be of different types making it scheme-base database.
# Indexing:- every field in the documents is indexed and this makes easier and takes less time to get or search data
# from the pool of the data.

In [6]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills1@cluster0.wo74n0z.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.1)
Note: you may need to restart the kernel to use updated packages.

In [58]:
db = client['pwskills']

In [59]:
coll_create = db["AnjuCoco_record"]
data1 = {"Name" : "AnjuCoco",
        "course" : "DSM",
        "mentor" : ["Sudh", "Krish"]
       }

In [60]:
coll_create.insert_one(data1)

In [12]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
# and insert many records. Use the find() and find_one() methods to print the inserted record.

In [61]:
# code for creating one data
data2 = {"subject": ["DSM", "Web_Dev"],
         "Student_name": ["Vishal", "Kim"],
         "Marks":[89, 98]
        }

In [62]:
coll_create.insert_one(data2)

In [63]:
# code for creating many data 
data3 = [
    {"Name":"abc", "Sub":["DSM", "WD"], "Marks":[77, 65]},
    {"Name":"efg", "Sub":["DSM", "WD"], "Marks":[45, 99]},
    {"Name":"hij", "Sub":["DSM", "WD"], "Marks":[91, 72]},
]
coll_create.insert_many(data3)

In [64]:
# find() and find_one() methods to print the inserted record.
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64ca453a124df8b16134be65'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64ca6b95f901962cc601360b'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2101137d0a5f9080f9f4'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb224f137d0a5f9080f9f5'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f6'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f7'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f8'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}
{'_id': ObjectId('64cb26ef137d0a5f9080f9f9'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fa'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fb'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fc'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb2fcb137d0a5f9080fa03'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2fd2137d0a5f9080fa04'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa05'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa06'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa07'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}

In [65]:
# to fetch the first record of the list, will use find_one
coll_create.find_one()

{'_id': ObjectId('64ca453a124df8b16134be65'),
 'Name': 'AnjuCoco',
 'course': 'DSM',
 'mentor': ['Sudh', 'Krish']}

In [15]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
# demonstrate this.

In [66]:
# to get all inserted data, we can use find() method. 
# Since there is more than one record, we will have to use 'for loop' as shown below.
# The find() method returns all occurrences in the selection.
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64ca453a124df8b16134be65'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64ca6b95f901962cc601360b'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2101137d0a5f9080f9f4'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb224f137d0a5f9080f9f5'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f6'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f7'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f8'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}
{'_id': ObjectId('64cb26ef137d0a5f9080f9f9'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fa'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fb'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fc'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb2fcb137d0a5f9080fa03'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2fd2137d0a5f9080fa04'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa05'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa06'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa07'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}

In [18]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [19]:
# It takes a document as a parameter that contains a field: value pair that defines the sort order of the result
# set. The value is 1 or -1 specifying an ascending or descending sort respectively. 
# If a sort returns the same result every time we perform on same data, then such type of sort is known as a stable sort.

In [67]:
data4 = [
    {"Name":"Krish", "age":"35"},
    {"Name":"Sudh", "age":"34"},
    {"Name":"Ravi", "age":"45"},
    {"Name":"Vivek", "age":"23"},
]
coll_create.insert_many(data4)

In [71]:
ascending_order = db.AnjuCoco_record.find().sort("age", 1)

In [72]:
print("Record in Ascending Order")
for i in ascending_order:
    print(i)

Record in Ascending Order
{'_id': ObjectId('64ca453a124df8b16134be65'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64ca6b95f901962cc601360b'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2101137d0a5f9080f9f4'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb224f137d0a5f9080f9f5'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f6'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f7'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f8'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}
{'_id': ObjectId('64cb2fcb137d0a5f9080fa03'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2fd2137d0a5f9080fa04'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa05'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa06'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa07'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fc'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa0b'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fa'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa09'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9f9'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa08'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fb'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa0a'), 'Name': 'Ravi', 'age': '45'}

In [33]:
# sorting
try:
    for i in coll_create.find():
        coll_create.sort({name:1})
        print(i)
except Exception as e:
    print("Error",e)

Error name 'name' is not defined

In [34]:
# Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [35]:
# delete_one() is used to delete one record from the database
# delete_many() is used to delete multiple records from the database
# drop() is used to delete the entire collection

In [36]:
for i in db. my_record.find():
    print(i)

{'_id': ObjectId('64ca4452eeed9da98e12fcac'), 'name': 'sudh', 'class': 'data science masters'}

In [75]:
data4 = [
    {"Name":"Krish", "age":"35"},
    {"Name":"sudh", "age":"34"},
    {"Name":"Ravi", "age":"45"},
    {"Name":"Vivek", "age":"23"},
]
db.my_record.insert_many(data4)

In [38]:
for i in db. my_record.find():
    print(i)

{'_id': ObjectId('64ca4452eeed9da98e12fcac'), 'name': 'sudh', 'class': 'data science masters'}
{'_id': ObjectId('64cb2c8a137d0a5f9080f9fd'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb2c8a137d0a5f9080f9fe'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb2c8a137d0a5f9080f9ff'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb2c8a137d0a5f9080fa00'), 'Name': 'Vivek', 'age': '23'}

In [48]:
db.my_record.delete_one({"age":"45"})

In [49]:
for i in db.my_record.find():
    print(i)

{'_id': ObjectId('64ca4452eeed9da98e12fcac'), 'name': 'sudh', 'class': 'data science masters'}
{'_id': ObjectId('64cb2c8a137d0a5f9080f9fd'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb2c8a137d0a5f9080f9fe'), 'Name': 'Sudh', 'age': '34'}

In [51]:
data4 = [
    {"Name":"Ravi", "age":"45"},
    {"Name":"Vivek", "age":"23"},
]
db.my_record.insert_many(data4)

In [76]:
for i in db.my_record.find():
    print(i)

{'_id': ObjectId('64cb2c8a137d0a5f9080f9fd'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb2c8a137d0a5f9080f9fe'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb2e84137d0a5f9080fa01'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb2e84137d0a5f9080fa02'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb3351137d0a5f9080fa0c'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb3351137d0a5f9080fa0d'), 'Name': 'sudh', 'age': '34'}
{'_id': ObjectId('64cb3351137d0a5f9080fa0e'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb3351137d0a5f9080fa0f'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb336a137d0a5f9080fa10'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb336a137d0a5f9080fa11'), 'Name': 'sudh', 'age': '34'}
{'_id': ObjectId('64cb336a137d0a5f9080fa12'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb336a137d0a5f9080fa13'), 'Name': 'Vivek', 'age': '23'}

In [77]:
db.my_record.delete_many({"name":"sudh"})

In [78]:
for i in db.my_record.find():
    print(i)

{'_id': ObjectId('64cb2c8a137d0a5f9080f9fd'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb2c8a137d0a5f9080f9fe'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb2e84137d0a5f9080fa01'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb2e84137d0a5f9080fa02'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb3351137d0a5f9080fa0c'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb3351137d0a5f9080fa0d'), 'Name': 'sudh', 'age': '34'}
{'_id': ObjectId('64cb3351137d0a5f9080fa0e'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb3351137d0a5f9080fa0f'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb336a137d0a5f9080fa10'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb336a137d0a5f9080fa11'), 'Name': 'sudh', 'age': '34'}
{'_id': ObjectId('64cb336a137d0a5f9080fa12'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb336a137d0a5f9080fa13'), 'Name': 'Vivek', 'age': '23'}

In [79]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64ca453a124df8b16134be65'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64ca6b95f901962cc601360b'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2101137d0a5f9080f9f4'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb224f137d0a5f9080f9f5'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f6'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f7'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f8'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}
{'_id': ObjectId('64cb26ef137d0a5f9080f9f9'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fa'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fb'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fc'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb2fcb137d0a5f9080fa03'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2fd2137d0a5f9080fa04'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa05'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa06'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa07'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa08'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa09'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa0a'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa0b'), 'Name': 'Vivek', 'age': '23'}

In [82]:
coll_create.delete_many({"name":"Sudh"})

In [84]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64ca453a124df8b16134be65'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64ca6b95f901962cc601360b'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2101137d0a5f9080f9f4'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb224f137d0a5f9080f9f5'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f6'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f7'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb23b0137d0a5f9080f9f8'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}
{'_id': ObjectId('64cb26ef137d0a5f9080f9f9'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fa'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fb'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb26ef137d0a5f9080f9fc'), 'Name': 'Vivek', 'age': '23'}
{'_id': ObjectId('64cb2fcb137d0a5f9080fa03'), 'Name': 'AnjuCoco', 'course': 'DSM', 'mentor': ['Sudh', 'Krish']}
{'_id': ObjectId('64cb2fd2137d0a5f9080fa04'), 'subject': ['DSM', 'Web_Dev'], 'Student_name': ['Vishal', 'Kim'], 'Marks': [89, 98]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa05'), 'Name': 'abc', 'Sub': ['DSM', 'WD'], 'Marks': [77, 65]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa06'), 'Name': 'efg', 'Sub': ['DSM', 'WD'], 'Marks': [45, 99]}
{'_id': ObjectId('64cb2fd5137d0a5f9080fa07'), 'Name': 'hij', 'Sub': ['DSM', 'WD'], 'Marks': [91, 72]}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa08'), 'Name': 'Krish', 'age': '35'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa09'), 'Name': 'Sudh', 'age': '34'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa0a'), 'Name': 'Ravi', 'age': '45'}
{'_id': ObjectId('64cb2fe4137d0a5f9080fa0b'), 'Name': 'Vivek', 'age': '23'}

In [ ]:
coll_create