In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
# Ans - A database is a collection of structured/non-structured information, or data, 
# typically stored electronically in a computer system.
# For creating Database, they collect information on people, places or things. 
# This information is then stored, maintained and accessed as and when needed.

In [4]:
# Difference between SQL and NoSQL
# 1. SQL works on structured data and NoSQL works on non structured data such as images, videos, text type of data
# 2. SQL database is relational and NoSQL database is non-relational.
# 3. SQL databases are table-based, while NoSQL databases are videos, text type of document

In [5]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [12]:
# Ans - DDL means - Data Definition Language
# DDL is a subset of SQL. It consists of the SQL commands that can be used to define the database schema. 
# It simply deals with descriptions of the database schema and
# it is used to create and modify the structure of database objects in the database.  
# DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. 
# These commands are used to create or modify the tables in SQL.

In [9]:
# CREATE : This command is used to create a new table in SQL. 
'''CREATE TABLE Student_info
(
College_Id int(4),
College_name varchar(30),
Branch varchar(10)
);'''

'CREATE TABLE Student_info\n(\nCollege_Id int(4),\nCollege_name varchar(30),\nBranch varchar(10)\n);'

In [2]:
# ALTER : This command is used to add, delete or change columns in the existing table.

In [3]:
'''ALTER TABLE table_name
ADD column_name datatype;'''

'ALTER TABLE table_name\nADD column_name datatype;'

In [4]:
# TRUNCATE : This command is used to remove all rows from the table, but the structure of the table still exists.

In [5]:
'''TRUNCATE TABLE Student_info;'''

'TRUNCATE TABLE Student_info;'

In [6]:
# DROP : This command is used to remove an existing table along with its structure from the Database.

In [7]:
'''DROP TABLE Student_info;'''

'DROP TABLE Student_info;'

In [10]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [14]:
# Ans - DML - Data Manipulation Language 
# SQL commands that deal with the manipulation of data present in the database belong to DML and 
# this includes most of the SQL statements. 
# DML commands in SQL manage data records stored within the database tables.
# It is the component of the SQL statement that controls access to data and to the database.

In [18]:
# INSERT: It is used to insert data into a table.
# Eg. creating table named 'STUDENT' having colunms ID, NAME, GRADE and CITY and adding values
'''INSERT INTO STUDENT(ID, NAME,AGE,GRADE,CITY) 
VALUES(1,"AMIT KUMAR",15,10,"DELHI"),
(2,"GAURI RAO",18,12,"BANGALORE"),
(3,"MANAV BHATT",17,11,"NEW DELHI"),
(4,"RIYA KAPOOR",10,5,"UDAIPUR");'''

'INSERT INTO STUDENT(ID, NAME,AGE,GRADE,CITY) \nVALUES(1,"AMIT KUMAR",15,10,"DELHI"),\n(2,"GAURI RAO",18,12,"BANGALORE"),\n(3,"MANAV BHATT",17,11,"NEW DELHI"),\n(4,"RIYA KAPOOR",10,5,"UDAIPUR");'

In [19]:
# UPDATE: It is used to update existing data within a table.
'''UPDATE STUDENT SET CITY  
= 'MUMBAI' WHERE NAME = "RIYA KAPOOR";'''
# This would select the row where name "RIYA KAPOOR" appears and update city to 'Mumbai'

'UPDATE STUDENT SET CITY  \n= \'MUMBAI\' WHERE NAME = "RIYA KAPOOR";'

In [20]:
# DELETE: It is used to delete records from a database table.
'''DELETE FROM STUDENT WHERE CITY = 'DELHI';'''
# This would delete a row where 'DELHI' city is mentioned

"DELETE FROM STUDENT WHERE CITY = 'DELHI';"

In [21]:
# Q4. What is DQL? Explain SELECT with an example.

In [ ]:
# Ans - DQL - Data Query Language
# DQL statements are used for performing queries on the data within schema objects. 
# It is a component of SQL statement that allows getting data from the database and imposing order upon it.

In [22]:
# SELECT: It is used to retrieve data from the database.
# This command allows getting the data out of the database to perform operations with it.

In [23]:
'''SELECT NAME, GRADE FROM STUDENT;'''
# This commmand would display two coulmns viz. NAME and GRADE from a table STUDENT

'SELECT NAME, GRADE FROM STUDENT;'

In [1]:
# Q5. Explain Primary Key and Foreign Key.

In [2]:
# Keys are one of the most important elements in a relational database 
# to maintain the relationship between the tables and it also helps in uniquely identifying the data from a table.

In [3]:
# The primary Key is a key that helps in uniquely identifying the tuple of the database.
# It is used to ensure that data in the specific column is unique. A column cannot have NULL values.

In [4]:
# Foreign Key is used to identify the relationship between the tables through the primary key of one table.
# It is a column or group of columns in a relational database table that provides a link between data in two tables.
# It refers to the field in a table which is the primary key of another table.

In [5]:
# Primary Key contains unique values, whereas Foreign Key contains values taking reference from Primary Keys.

In [6]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [9]:
# Ans - Python code to connect MySQL to python
'''import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password")
print(mydb)

mycursor = mydb.cursor()'''

'import mysql.connector\nmydb = mysql.connector.connect(\n    host = "localhost",\n    user = "abc",\n    password = "password")\nprint(mydb)\n\nmycursor = mydb.cursor()'

In [10]:
# Cursor() is used to store the Database tables. 
# Cursor updates one row at a time.
# Cursor object is a user-defined iterative variable that enables the user to access query results.

In [11]:
# execute() is a method that executes the given database operation (query or command).

In [12]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

In [14]:
# ans - example of command to execute
'''mycursor.execute("SHOW DATABASE")
for x in mycursor:
    print(x)
'''

'mycursor.execute("SHOW DATABASE")\nfor x in mycursor:\n    print(x)\n'

In [2]:
# order of execution
# 1. FROM and JOIN s - to determine the total working set of data that is being queried.

# 2. WHERE - the first-pass WHERE constraints are applied to the individual rows, 
# and rows that do not satisfy the constraint are discarded.

# 3. GROUP BY - The remaining rows after the WHERE constraints are applied are then grouped based on 
# common values in the column specified in the GROUP BY clause. 
# As a result of the grouping, there will only be as many rows as there are unique values in that column. 

# 4. HAVING - hen the constraints in the HAVING clause are then applied to the grouped rows, 
# discard the grouped rows that don't satisfy the constraint.

# 5. SELECT - Any expressions in the SELECT part of the query are finally computed.

# 6. DISTINCT - Of the remaining rows, rows with duplicate values in the column marked as DISTINCT will be discarded.

# 7. ORDER BY - the rows are then sorted by the specified data in either ascending or descending order. 

# 8. LIMIT / OFFSET - Finally, the rows that fall outside the range specified by the LIMIT and OFFSET are discarded.